VITE_API_URL=http://localhost:5000
VITE_GOOGLE_CLIENT_ID=1091137684910-jh6i25bk91qnqlg3gfu75kch1cp44e0h.apps.googleusercontent.com
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TgUFUHGVWnlhFVygxoeFzvFNg8HBrGkq4tkcvtBTkbk8416i9VM2q6qZ2A5Aj4j3gr6o9lzorbseeTrO18G9ASv005Sp5d480
VITE_DEVELOPER_REPO=https://github.com/Siam24857/clodfare-client
